{% include 'sitio/cabecera.html' %}
<div class="parallax">
    <br><br><br><br>
    <div class="container-sm w-60 p-4 rounded shadow-lg p-3 mb-5 " style="background-color: rgba(	81, 90, 90 , 0.75)">
        <h1>
                Sitio Web informativo y demostraci&oacute;n del
                funcionamiento de un sistema de inteligencia artificial con aplicaci&oacute;n al turismo.
        </h1>
    </div>
</div>

<div id="loader"></div>
<div class="container">
    <br><br>
    <div class="container-sm w-100 p-3 rounded shadow-lg p-3 mb-3  text-black"
        style="background-color: rgba(198, 206, 198, 0.50)">
        <div class="row">
            <div class="col-sm">
                <h2 class="text-center">¿El por qu&eacute; de este proyecto?</h2>
                <p class="lead text-center">El objetivo principal es analizar las reseñas de viajes obtenidas
                    mediante
                    una plataforma online, relacionadas con atracciones
                    tur&iacute;sticas, con el objetivo de identificar temas de discusi&oacute;n recurrentes para
                    deducir
                    si los viajeros hacen referencia a experiencias positivas o negativas durante sus viajes.
                </p>
                <hr width="100%">
                <div class="d-flex justify-content-center" style=" background-color: #dadada;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <img style=" margin: left 10%; height: 100%; width: 100%; height: auto;"
                                    class="img-responsive" class="ms-5" src="../static/imgs/turismo.png"
                                    alt="Grafica de turismo" />
                                <br><br>
                            </div>
                            <div id="justificado" class="col-md-6">
                                <p class="h3">Dato curioso del turismo
                                </p>
                    
                                <p class="lh-base">A lo largo de los años, M&eacute;xico ha tenido una gran variedad
                                    de
                                    contribuyentes
                                    hacia su gran econom&iacute;a representativa como pa&iacute;s, sin embargo, el
                                    turismo
                                    es uno de los
                                    m&aacute;s importantes
                                    a nivel mundial, ya que según el Instituto Nacional de Estad&iacute;stica y
                                    Geograf&eacute;a
                                    (INEGI), el sector de ocio y hoteler&eacute;a representa un 8.7% del producto
                                    interior
                                    bruto del
                                    pa&iacute;s, y genera aproximadamente un 6% de los empleos en este mismo.
                                    <br>
                                    Aunque se debe de tener algo en claro, todos estos datos y estadísticas son
                                    prepandemia,
                                    por lo que se requiere analizar el declive y el impacto que se tuvo en diversos
                                    estados
                                    de la
                                    república, tal es el caso de Guanajuato,
                                    ya que en el año del 2019 tuvo un mill&eacute;n 365 mil visitantes a la entidad,
                                    pero
                                    con la llegada
                                    de la pandemia del COVID 19, en el 2020 tuvo un cambio dram&aacute;tico que
                                    afect&oacute; el turismo
                                    en la ciudad, la cifra se desplomó a 686 mil 192 visitantes.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr width="100%">
                <br>
                <h2 class="text-center">Guanajuato y su turismo</h2>
                <br>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <img style="height: 100%; width: 100%; height: auto;"
                                        src="../static/imgs/mapaGTO.jpg" alt="Grafica de turismo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="lead">Tomando como referencia lo anterior, se busca saber el
                    comportamiento tur&iacute;stico
                    que se ha ido
                    desarrollando despu&eacute;s de la pandemia, así como el conocer las opiniones de los temas
                    principales
                    al
                    momento de realizar una visita a una ciudad en sus diversos puntos culturales, por lo que para
                    ello se propone analizar los datos recabados de
                    plataformas de inter&eacute;s
                    tur&iacute;stico, como lo es TripAdvisor, que ser&aacute;n procesados por un modelo de
                    inteligencia
                    artificial, por lo tanto, a continuación se describirán algunos de estos conceptos utilizados en
                    este sistema web.
                </p>
                <hr width="100%">
                <br>
                <div class="container">
                        <p class="h2">Nuestro proyecto consta de:</p>
                    
                    <br>
                    <div id="accordion">
                        <h3>Inteligencia artificial</h3>
                        <div>
                            <p>
                                La Inteligencia Artificial (IA) es la combinación de algoritmos planteados con
                                el propósito de crear máquinas que presenten las mismas capacidades que el ser
                                humano. Una tecnología que todavía nos resulta lejana y misteriosa, pero que
                                desde hace unos años está presente en nuestro día a día a todas horas.
                            </p>
                        </div>
                        <h3>Procesamiento de lenguaje natural</h3>
                        <div>
                            <p>
                                El procesamiento del lenguaje natural (PLN) se refiere a la
                                rama de la informática, y más específicamente a la rama de la inteligencia
                                artificial o IA, que se ocupa de dar a las computadoras la capacidad de
                                comprender textos y palabras habladas de la misma manera que los seres humanos.
                            </p>
                        </div>
                        <h3>Matriz de confusión</h3>
                        <div>
                            <p>
                                En el campo de la inteligencia artificial y el aprendizaje automático una matriz
                                de confusión es una herramienta que permite visualizar el desempeño de un
                                algoritmo de aprendizaje supervisado. Cada columna de la matriz representa el
                                número de predicciones de cada clase, mientras que cada fila representa a las
                                instancias en la clase real.
                            </p>
                        </div>
                        <h3>Bolsa de palabras</h3>
                        <div>
                            <p>
                                Una bolsa de palabras (bag-of-words, BOW) consiste en la
                                representación de un documento mediante el conjunto de las palabras que
                                contiene, sin importar el orden. Dicho de otra manera, cada palabra diferente
                                del documento sería un elemento de la bolsa, donde también se almacena el número
                                de veces que esta palabra se repite a lo largo del documento.
                            </p>
                        </div>
                        <h3>Nube de palabras</h3>
                        <div>
                            <p>
                                Las nubes de palabras representan una de las mejores formas de analizar las respuestas
                                cualitativas obtenidas en encuestas de diversa índole, ya que se encargan de mostrar
                                visualmente la importancia de los textos de forma accesible y atractiva.
                            </p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% include 'sitio/pie.html' %}